@charset "UTF-8";

@page {
  /*size: A4;*/
}

body {
  width: 18cm;
  padding: .5cm 1.5cm;
  /*font-size: 1.2em;*/
}

.calcule li {
  border-bottom: 1px solid silver;
  list-style-type: none;
  display: inline-block;
}

ul.calcule span {
  text-align: right;
  display: inline-block;
}

.calcule li.total,
ul.calcule span {
  padding: .2em .6em;
}

ul.calcule span:nth-child(1) {
  width: 1.2em;
}

ul.calcule span:nth-child(2) {
  width: 5em;
}

ul.calcule span:nth-child(3) {
  width: 3.5em;
}

ul.calcule span:nth-child(4) {
  width: 5.5em;
}

ul.calcule span:nth-child(5) {
  width: 4em;
}

.calcule li.antet {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.calcule li:nth-last-child(2) {
  border-bottom: none;
}

.calcule li.total {
  border-top: 1px solid black;
  border-bottom: none;
  text-align: right;
  font-weight: bold;
  display: block;
  width: 25.1em;
}

p {
  max-width: 45em;
  text-align: justify;
}

p.titlu {
  text-align: center;
}

.dreapta {
  float: right;
}

.editabil:hover {
  background-color: #eee;
}
