@charset "UTF-8";

@page {
  /*size: A4;*/
  margin: .5cm 1.5cm;
}

body {
  width: 18cm;
  padding: .5cm 1.5cm;
}

table {
  border-collapse: collapse;
}

th,
tbody tr:last-child td {
  border-bottom: 1px solid black;
}

th, td {
  padding: .2em .6em;
  text-align: right;
}

td {
  border-bottom: 1px solid silver;
}

tfoot td {
  font-weight: bold;
  border: none;
}

p {
  width: 45em;
}
