.cu.umbră {
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

#categorii-taxe-şi-speze .categorie:before {
  content: '▼';
  font-size: .7em;
  margin-top: -.1em;
}

#categorii-taxe-şi-speze .categorie ol {
  list-style-type: square;
}

#cheltuieli .subformular input[type="checkbox"]+label {
  margin: 0;
}

input[type=checkbox] {
  border: 0;
}

#cheltuieli .document .destinatari-adăugaţi>li {
  list-style: inside square;
}
