@charset "UTF-8";

body {
  font: 14px sans-serif;
  padding: 5px 10px;
  margin: 0;
}

textarea {
  font: inherit;
  height: 60px;
  min-height: 60px;
  overflow: auto;
}

textarea,
input {
  outline-width: 0;
  border: 1px solid #ddd;
  border-top-color: #c0c0c0;
  width: 18em;
}

input[type=checkbox] {
  width: auto;
  vertical-align: -1px;
}

textarea,
input,
fieldset ul select {
  margin: 1px 0;
  vertical-align: top;
  padding: .3em;
  color: black;
}

fieldset ul select {
  width: 18.5em;
  padding: .25em .3em;
}

fieldset ul select.valuta {
  width: auto;
}

textarea {
  max-width: 18em;
  min-width: 18em;
}

textarea:focus,
input:focus {
  border-color: #4d90fe;
}

label,
input,
select,
button,
textarea {
  font: inherit;
}

#index select,
#index input,
button.mare {
  font-size: 1.2em;
  font-weight: bold;
}

button#procedură-nouă {
  float: right;
}

#index input {
  vertical-align: baseline;
  width: 20em;
}

#index .şoaptă {
  color: #555;
  margin: 3px 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
}

div.pagină {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

div.pagină>.conţinut {
  width: 1000px;
  margin: 5px auto;
}

.coloană {
  float: left;
  width: 50%;
}

.coloană.stînga {
  clear: left;
}

fieldset {
  border: 1px solid #dedede;
  padding: 0 0 7px 10px;
  margin-bottom: 20px;
}

.şablon {
  display: none;
}

fieldset label {
  display: inline-block;
  width: 11em;
  text-align: right;
}

fieldset label {
  color: #555;
}

fieldset label {
  padding: .4em .7em 0 .3em;
}

fieldset legend label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding-right: 0;
  width: auto;
  color: #333;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: .2em 0 0 0;
}

#bunuri label.valoare,
input.sumă {
  width: 5em;
}

input.sumă#total {
  font-weight: bold;
}

input.invalid {
  border-color: red;
}

#procedură-nouă h1,
#procedură-nouă fieldset,
#procedură-nouă button#salvează-procedură{
  margin-right: 40px;
}

button#adaugă-debitor {
  margin-bottom: 5em;
}

button.elimină-debitor {
  font-size: small;
  display: none;
}

fieldset.dispensabil button.elimină-debitor {
  display: inline;
}

button#salvează-procedură {
  float: right;
  margin-right: 1em;
}

.şoaptă {
  margin: .25em 0 1em 13.8em;
  padding: 0 1em 0 .5em;
  line-height: 1em;
  font-size: .9em;
  font-style: italic;
}

#bunuri {
  list-style-type: none;
  padding: 0 0 0 2.8em;
}

#bunuri label {
  text-align: left;
  font-style: italic;
  color: #555;
  padding: 0 .4em;
}

#bunuri textarea {
  height: 2.2ex;
  min-height: 2.2ex;
}

#bunuri .descriere {
  width: 21em;
  min-width: 0;
  max-width: none;
}

#bunuri .valoare {
  width: 4em;
}

#bunuri button.adaugă {
  font-size: small;
  margin-left: .4em;
}

#bunuri li {
  padding-left: 1.2em;
}

#bunuri .cîmp {
  padding-left: 0;
}

#bunuri button.elimină {
  border-width: 0;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
  color: #555;
  padding: 0;
  margin: .2em 0 0;
  width: 1em;
  visibility: hidden;
}

#bunuri button.elimină:hover {
  color: black;
}

#bunuri .cîmp:hover button.elimină {
  visibility: visible;
}

fieldset#forme li {
  margin-bottom: .5em;
  overflow: auto;
}

fieldset#forme button {
  font-weight: bold;
  float: left;
  clear: left;
  cursor: pointer;
  margin-left: .5em;
}

fieldset#forme .şoaptă {
  margin: .7em 0 0 7em;
  color: #555;
}
