@charset "UTF-8";

body {
  font: 14px sans-serif;
  padding: 5px 10px;
  margin: 0;
}

input.label {
  border: 1px solid white;
  outline-width: 0;
  padding-right: 10px;
}

input.label:hover {
  border: 1px solid #ddd;
}

input.label.with-options {
  background: url('/images/expanded.png') no-repeat right center;
}

textarea {
  font: inherit;
  height: 60px;
  min-height: 60px;
  overflow: auto;
}

textarea,
input {
  outline-width: 0;
  border: 1px solid #ddd;
  border-top-color: #c0c0c0;
  width: 250px;
}

textarea,
input,
fieldset ul select {
  margin: 1px 0;
  vertical-align: top;
  padding: 3px;
  color: black;
}

fieldset ul select {
  width: 258px;
}

fieldset ul select.valuta {
  width: auto;
}

textarea {
  max-width: 250px;
  min-width: 250px;
}

input.label:focus,
textarea:focus,
input:focus {
  border-color: #4d90fe;
}

label,
input,
select,
button,
textarea {
  font: inherit;
}

#index label,
#index select,
#index input,
button.mare {
  font-size: 1.2em;
  font-weight: bold;
}

#procedură-nouă {
  float: right;
}

#index select {
  font-weight: normal;
}

h1 {
  border-bottom: 1px solid #ddd;
}

div.pagină {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

div.pagină>.conţinut {
  width: 1000px;
  margin: 5px auto;
}

.column {
  float: left;
  width: 50%;
}

.left.column {
  clear: left;
}

fieldset {
  border: 1px solid #dedede;
  padding: 0 0 7px 10px;
  margin-bottom: 20px;
}

input.label.with.options {
  padding-right: 12px;
  background: url('/images/expanded.png') no-repeat right center;
  cursor: default;
}

.şablon {
  display: none;
}

fieldset label,
fieldset .label {
  display: inline-block;
  width: 11em;
  text-align: right;
}

fieldset label,
fieldset .label {
  color: #555;
}

fieldset label {
  padding: .4em .7em 0 .3em;
}

fieldset legend label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding-right: 0;
  width: auto;
  color: #333;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: .2em 0 0 0;
}

input.sumă {
  width: 4em;
}

#procedură-nouă h1,
#procedură-nouă fieldset,
#procedură-nouă button#salvează-procedură{
  margin-right: 40px;
}

button#adaugă-debitor {
  margin-bottom: 5em;
}

button.şterge-debitor {
  font-size: small;
  display: none;
}

fieldset.dispensabil button.şterge-debitor {
  display: inline;
}

button#salvează-procedură {
  float: right;
}

#bunuri label.heading {
  text-align: left;
  font-size: small;
  font-style: italic;
  padding: 0 4px;
}

#bunuri label.heading,
#bunuri input,
#bunuri textarea {
  width: 100px;
}

#bunuri ol {
  margin-left: 12.25em;
  margin-bottom: 5px;
  list-style-type: none;
  padding: 0;
}

#bunuri textarea {
  max-width: 100px;
  min-width: 100px;
  height: 2.2ex;
  min-height: 2.2ex;
  overflow: hidden;
}

#bunuri button {
  font-size: small;
}

#bunuri ol label {
  width: auto;
  padding-left: 0;
}

#bunuri ol button.şterge {
  border-width: 0;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
  color: #555;
}

#bunuri ol button.şterge:hover {
  color: red;
}

#bunuri ol li .şterge,
#bunuri ol li:hover label {
  display: none;
}

#bunuri ol li:hover .şterge,
#bunuri ol li label {
  display: inline-block;
}
