@charset "UTF-8";

body {
  font: 14px Arial, sans-serif;
  padding: 0 10px;
  margin: 0;
}

textarea {
  font: inherit;
  line-height: 24px!important;
  height: 64px;
  min-height: 64px;
  overflow: hidden;
  resize: none;
}

input[type=checkbox] {
  outline-width: medium;
  width: auto;
  vertical-align: -1px;
}

label,
input,
select,
button,
textarea {
  font: inherit;
}

textarea,
input {
  outline-width: 0;
  border: none;
  width: 17em;
  background: transparent url('data:image/gif;base64,R0lGODlhMgAYAIABAN3d3f///yH5BAEKAAEALAAAAAAyABgAAAIrjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyrAGBjd96zu9+D/wFCgA7') 0 0;
}

input {
  background-position: 0 -4px;
}

fieldset>.conţinut {
  padding-top: 10px;
}

textarea,
input,
fieldset select {
  margin: 1px 0;
  vertical-align: top;
  padding: .3em;
  color: black;
  font-weight: bold;
}

fieldset ul select {
  width: 17.7em;
  padding: .25em .3em;
}

fieldset ul>li>textarea {
  padding-top: 0;
  background-position: 0 -4px;
}

fieldset ul select.valuta {
  width: auto;
}

fieldset textarea:focus,
fieldset input:focus {
  border-color: #4d90fe;
}

button {
  padding: .3em .6em;
  font-weight: bold;
  font-size: small;
  color: #333;
}

#căutare {
  float: left;
}

#căutare input {
  background: transparent;
  border: 1px solid #ddd;
  border-top-color: #bbb;
}

#index label,
#index input,
button.mare {
  font-size: 1.2em;
  font-weight: bold;
}

#crează-procedură {
  float: right;
  width: 18em;
  margin-right: 12em;
}

#crează-procedură ul {
  margin: .5em 0 0;
  list-style-type: square;
  list-style-position: inside;
}

#crează-procedură a {
  color: blue;
}

#index input {
  width: 23em;
}

#index #căutare .şoaptă,
#index #crează-procedură .şoaptă {
  color: #555;
  margin: .3em 0 0 .1em;
  padding: 0;
  line-height: 1.2em;
}

#index #crează-procedură .şoaptă {
  margin: .8em 0 0 .3em;
}

h1 {
  border-bottom: 1px solid #ddd;
  color: #aaa;
}

div.pagină {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

div.pagină>.conţinut {
  width: 1000px;
  margin: 0 auto;
}

.coloană {
  float: left;
  width: 50%;
}

.coloană.stînga {
  clear: left;
}

fieldset {
  border: 1px solid #dedede;
  padding: 0 10px 1.5em;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.şablon {
  display: none;
}

fieldset label {
  display: inline-block;
  width: 11em;
  text-align: right;
  color: #555;
  background: white;
}

#listă-taxe-şi-speze .subformular .stînga,
fieldset label {
  padding: .4em .3em 0;
}

fieldset legend {
  background: white;
  float: left;
  margin-top: -17px;
}

fieldset legend label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding: 6px 0;
  width: auto;
}

fieldset legend label,
fieldset legend select {
  color: #999;
}

fieldset legend select:focus {
  color: #333;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: .2em 0 0 0;
}

.bunuri label.valoare,
input.sumă {
  width: 5em;
}

input.sumă#total {
  font-weight: bold;
}

input.invalid {
  border-color: red;
}

#formular h1 {
  color: black;
  margin: 20px 40px 40px 0;
}

#formular button.salvează {
  font-size: .7em;
  float: right;
  margin-top: -.5em;
}

#formular fieldset {
  margin-right: 40px;
}

button.elimină-persoană {
  border-width: 0;
  background-color: transparent;
  font-size: 1.5em;
  padding: 0;
  line-height: .6em;
  vertical-align: -.1em;
  display: none;
}

.elimină {
  font-size: 1.4em;
  width: 16px;
  position: absolute;
  left: -16px;
  top: 0;
  background: white;
}

button.elimină-persoană,
.elimină {
  color: #999;
}

.spre-eliminare {
  position: relative;
}

button.elimină-persoană:hover,
button.adaugă:hover,
.elimină:hover {
  color: #333;
}

button.elimină-persoană {
}

fieldset.dispensabilă button.elimină-persoană {
  display: inline;
}

fieldset#creditor button.elimină-persoană {
  display: none;
}

.şoaptă {
  margin: .25em 0 .7em 13em;
  padding: 0 1em 0 .5em;
  line-height: 1em;
  font-size: .9em;
  font-style: italic;
}

#cheltuieli .subformular,
.pecuniar .subformular,
.bunuri {
  list-style-type: none;
  padding: 0 0 0 4em;
}

#cheltuieli .subformular label,
.pecuniar .subformular label,
.bunuri label {
  text-align: left;
  font-style: italic;
  color: #555;
  padding: 0 .3em;
  border-bottom: 1px solid silver;
}

#cheltuieli .destinatari-adăugaţi .persoană.terţă {
  padding: 0;
}

#cheltuieli .destinatari-adăugaţi .persoană.terţă label {
  border-width: 0;
  margin: 0;
  padding: 0;
}

#cheltuieli .destinatari-adăugaţi .persoană.terţă input {
  background-position: 0 -7px;
  padding: 1px 0 0;
}

.subformular li>label {
  margin-bottom: .5em;
}

#cheltuieli .subformular textarea,
.pecuniar .subformular textarea,
.bunuri textarea {
  height: 3ex;
  min-height: 3ex;
  padding: 0 .3em;
  background-position: 0 -4px;
}

#cheltuieli .subformular .denumire,
#cheltuieli .subformular .descriere,
.pecuniar .subformular .descriere,
.bunuri .descriere {
  width: 19em;
  min-width: 0;
  max-width: none;
}

#cheltuieli .subformular .valoare,
.subformular .sumă,
.bunuri .valoare {
  width: 5em;
}

button.adaugă {
  font-size: 1.5em;
  padding: 0;
  margin-left: .2em;
  border: none;
  line-height: .7em;
  background: transparent;
  top: -.3em;
  position: relative;
  color: #999;
}

button.adaugă.persoană {
  font-weight: bold;
  position: relative;
  top: -1.2em;
}

button.adaugă .legend.label {
  display: none;
}

#cheltuieli .subformular.achitare label {
  color: black;
  font-style: normal;
}

button.elimină-persoană {
  visibility: visible;
}

.subformular .eliminabil,
.bunuri .cîmp {
  padding: 0;
}

#formular #date-generale {
  min-height: 18.2em;
}

#formular #cheltuieli {
  clear: left;
}

#cheltuieli #listă-taxe-şi-speze {
  list-style: outside circle;
  margin-left: 12.25em;
}

#cheltuieli .item.achitat {
  list-style-type: disc;
}

#cheltuieli .item .la {
  display: none;
}

#cheltuieli .item.achitat .la {
  display: inline;
}

#cheltuieli .item .subformular {
  padding: .3em 0 0;
}

#cheltuieli .item ul.subformular {
  padding-left: 1em;
}

#cheltuieli .item p,
#categorii-taxe-şi-speze .item .subformular,
#taxe-şi-speze .item p { /* TODO: şterge după finalizare */
  display: none;
}

#cheltuieli #listă-taxe-şi-speze>li {
  margin-top: .4em;
}

#cheltuieli #listă-taxe-şi-speze>li>.elimină {
  top: -1px;
  left: -35px;
  width: 35px;
  background-color: transparent;
}

.destinatari-adăugaţi .elimină {
  height: .7em;
  line-height: 1em;
}

#listă-taxe-şi-speze .subformular .şoaptă {
  display: block;
  color: #555;
  margin-left: 1em;
}

#cheltuieli .subformular .cantitate {
  width: 2em;
}

#cheltuieli .subformular input[type="checkbox"]+label {
  width: auto;
  padding: 0;
  margin-left: .2em;
  border-bottom: none;
}

#categorii-taxe-şi-speze {
  display: inline-block;
  font-size: small;
  margin: 0 0 .8em 14em;
}

#cheltuieli .document .adaugă-destinatar:before,
#cheltuieli .document .destinatari .categorie:before,
#categorii-taxe-şi-speze .categorie:before {
  content: '▾';
  margin-left: -1em;
  vertical-align: .1em;
  list-style-type: none;
  color: #aaa;
}

#cheltuieli .document .adaugă-destinatar,
#cheltuieli .document .destinatari .categorie .titlu,
#categorii-taxe-şi-speze .categorie .descriere {
  color: #555;
  white-space: nowrap;
}

#cheltuieli .document .adaugă-destinatar,
#categorii-taxe-şi-speze .categorie .descriere,
#categorii-taxe-şi-speze .categorie ol>li {
  cursor: pointer;
}

#categorii-taxe-şi-speze .categorie ol>li {
  list-style-position: outside;
  margin-bottom: .4em;
}

#cheltuieli .document .adaugă-destinatar:hover:before,
#cheltuieli .document .adaugă-destinatar:hover>span,
#cheltuieli .document .destinatari .categorie:hover:before,
#cheltuieli .document .destinatari .categorie:hover .titlu,
#cheltuieli .document .destinatari .listă>li:hover,
#categorii-taxe-şi-speze .categorie:hover:before,
#categorii-taxe-şi-speze .categorie:hover .descriere,
#categorii-taxe-şi-speze .categorie ol>li:hover {
  color: blue;
  text-decoration: underline;
}

#cheltuieli .document .adaugă-destinatar:hover:before,
#cheltuieli .document .destinatari .categorie:hover:before,
#categorii-taxe-şi-speze .categorie:hover:before {
  text-decoration: none;
}

#categorii-taxe-şi-speze .categorie .conţinut {
  display: none;
  position: absolute;
  width: 40em;
  padding: .5em 1em 1em;
  margin-left: -1em;
}

#categorii-taxe-şi-speze .categorie .titlu {
  margin: .5em 0 .3em;
  display: none;
}

#categorii-taxe-şi-speze .categorie .item.dezactivat,
#categorii-taxe-şi-speze .categorie .item.dezactivat:hover {
  color: #555;
  text-decoration: line-through;
  cursor: text;
}

.cu.umbră {
  background-color: white;
  border: 1px solid silver;
  box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
}

#listă-taxe-şi-speze .subformular label.stînga {
  width: auto;
  padding-right: .2em;
  border: none;
}

#listă-taxe-şi-speze .subformular .eliminabil input[type="checkbox"],
#listă-taxe-şi-speze .subformular .eliminabil input[type="checkbox"]+label {
  vertical-align: -.8em;
}

button,
.elimină,
input[type="checkbox"],
input[type="checkbox"]+label {
  cursor: pointer;
}

#cheltuieli .document .adaugă-destinatar:before {
  padding-right: .3em;
}

#cheltuieli .document .destinatari-adăugaţi,
#cheltuieli .document .adaugă-destinatar {
  font-size: small;
}

#cheltuieli .document .destinatari-adăugaţi {
  margin: -.3em 0 0 .5em;
  padding: .5em 2.5em .8em;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  min-height: 1em;
  min-width: 6em;
  z-index: 1;
}

#cheltuieli .document .adaugă-destinatar {
  margin-left: 10em;
  display: inline-block;
}

#cheltuieli .document .destinatari,
#cheltuieli .document .destinatari .listă {
  position: absolute;  
  margin-left: -1.5em;
  padding-left: 1.5em;
}

#cheltuieli .document .destinatari .listă,
#cheltuieli .document .destinatari .categorii {
  padding: .3em 2em .7em;
}

#cheltuieli .document .destinatari .listă>li,
#cheltuieli .document .destinatari .categorie {
  margin-bottom: .4em;
}

#cheltuieli .document .destinatari .listă>li.dezactivat,
#cheltuieli .document .destinatari .listă>li.dezactivat:hover {
  text-decoration: line-through;
  cursor: text;
  color: #555;
}

#cheltuieli .document .destinatari .listă {
  display: none;
}

#cheltuieli .document .destinatari .categorie .toate {
  font-style: italic;
  display: none;
}

#cheltuieli .document .destinatari .categorie:hover .toate {
  color: #999;
  display: inline;
}

#cheltuieli .document .destinatari .categorie:hover .toate:hover {
  color: black;
}

#cheltuieli .document .destinatari .listă>li,
#cheltuieli .document .destinatari-adăugaţi>li {
  list-style: inside circle;
  white-space: nowrap;
}

#cheltuieli .document .destinatari-adăugaţi:before {
  content: '▿';
  position: absolute;
  margin-left: -1.9em;
}

#cheltuieli .document .destinatari-adăugaţi:hover:before {
  content: '▾';
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi:hover {
  text-decoration: underline;
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi:hover:after,
#cheltuieli .document .destinatari-adăugaţi.comprimaţi:hover:before {
  color: blue;
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi:before {
  content: '▹';
  margin-left: -.9em;
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi:hover:before {
  content: '▸';
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi:after {
  content: counter(destinatari) " destinatari";
  font-size: 1em;
  vertical-align: -.1em;
}

#cheltuieli .document .destinatari-adăugaţi>li {
  counter-increment: destinatari;
  cursor: text;
}

#cheltuieli .document .destinatari-adăugaţi .elimină {
  left: -3px;
  width: 13px;
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi {
  padding: 0;
  margin-left: 2em;
  margin-top: 0;
  z-index: 0;
}

#cheltuieli .document .destinatari-adăugaţi.comprimaţi>li {
  visibility: hidden;
  width: 1px;
  display: inline-block;
  position: absolute;
}

#cheltuieli .document .destinatari-adăugaţi .persoană.terţă input {
  margin: 0;
  padding: .1em .3em;
}

#cheltuieli .document .destinatari-adăugaţi .persoană.terţă label {
  color: black;
  width: auto;
  font-style: normal;
  vertical-align: -.2em;
}

#proceduri-recente .timp {
  font-size: smaller;
  color: silver;
  margin-left: 1em;
}
