@charset "UTF-8";

@import url(//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css);
@import url(/css/shared.css) screen;

@page {
  /*size: A4;*/
}

@media print {
  [contenteditable="true"]:focus {
    outline-width: 0;
  }
}

body {
  width: 18cm;
  padding: 0 1.5cm;
  font-size: 14px;
  font-family: Georgia, serif;
}

.calcule li {
  border-bottom: 1px solid silver;
  list-style-type: none;
  display: inline-block;
}

ul.calcule span {
  text-align: right;
  display: inline-block;
}

.calcule li.total,
ul.calcule span {
  padding: .2em .6em;
}

ul.calcule span:nth-child(1) {
  width: 1.2em;
}

ul.calcule span:nth-child(2) {
  width: 5em;
}

ul.calcule span:nth-child(3) {
  width: 3.5em;
}

ul.calcule span:nth-child(4) {
  width: 5.5em;
}

ul.calcule span:nth-child(5) {
  width: 4em;
}

.calcule li.antet {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.calcule li:nth-last-child(2) {
  border-bottom: none;
}

.calcule li.total {
  border-top: 1px solid black;
  border-bottom: none;
  text-align: right;
  font-weight: bold;
  display: block;
  width: 25.1em;
}

p {
  max-width: 45em;
  text-align: justify;
}

p.titlu {
  text-align: center;
}

.dreapta {
  float: right;
}

.editabil:hover {
  background-color: #eee;
}

@media screen {
  html {
    background-image: url('/imagini/fundal.png');
  }

  body {
    position: relative;
    margin: 1em auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
  }

  button {
    cursor: pointer;
  }
}

@media print {
  button.închide, .bara-de-instrumente {
    display: none;
  }
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
  font-weight: normal;
}

hgroup h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  width: 70%;
  margin-bottom: 1em;
}

section {
  margin: .5em 0;
}

section header {
  width: 8em;
  float: left;
  font-weight: bold;
  text-align: right;
}

hgroup,
section .conţinut {
  margin-left: 8.5em;
}

p {
  margin: .5em 0;
  text-align: left;
}

ul,
ol {
  margin: .5em 0;
}

#semnătura, #ştampila {
  display: inline-block;
  padding: 4em 3em;
}

#ştampila {
  font-size: .7em;
}

.sumă {
  white-space: nowrap;
}
