@charset "UTF-8";

@import url(//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css);
@import url(/css/shared.css) screen;

@page {
  /*size: A4;*/
}

@media print {
  .editabil:focus {
    outline-width: 0;
  }
}

body {
  width: 18cm;
  padding: 0 1.5cm;
  font-size: 14px;
  font-family: Georgia, serif;
}

.calcule {
  padding-left: 0;
  margin: 1em 0 2em;
}

.calcule li {
  border-bottom: 1px solid silver;
  list-style-type: none;
  display: inline-block;
}

ul.calcule span {
  text-align: right;
  display: inline-block;
}

td, th,
.calcule li.total,
ul.calcule span {
  padding: .2em .6em;
}

ul.calcule span:nth-child(1) {
  width: 1.2em;
}

ul.calcule span:nth-child(2) {
  width: 8em;
}

ul.calcule span:nth-child(3) {
  width: 4em;
}

ul.calcule span:nth-child(4) {
  width: 5.5em;
}

ul.calcule span:nth-child(5) {
  width: 6em;
}

table#borderou-de-calcul thead th,
table#borderou-de-calcul thead td,
.calcule li.antet {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.calcule li:nth-last-child(2) {
  border-bottom: none;
}

.calcule li.total {
  border-top: 1px solid black;
  border-bottom: none;
  text-align: right;
  font-weight: bold;
  display: block;
  width: 25.1em;
}

p {
  max-width: 45em;
  text-align: justify;
}

p.titlu {
  text-align: center;
}

.dreapta {
  float: right;
}

@media screen {
  html {
    background-image: url('/imagini/fundal.png');
  }

  body {
    position: relative;
    margin: 1em auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
  }

  button {
    cursor: pointer;
  }
}

@media print {
  button.închide, .bara-de-instrumente {
    display: none;
  }
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
  font-weight: normal;
}

hgroup h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  width: 85%;
  margin-bottom: 1em;
}

section {
  margin: .5em 0;
}

section header {
  width: 8em;
  float: left;
  font-weight: bold;
  text-align: right;
}

hgroup,
section .conţinut {
  margin-left: 8.5em;
}

p {
  margin: .5em 0;
  text-align: left;
}

ul,
ol {
  margin: .5em 0;
}

#semnătura, #ştampila {
  display: inline-block;
  padding: 4em 3em;
}

#ştampila {
  font-size: .7em;
}

.perioadă,
.sumă {
  white-space: nowrap;
}

.cu-opţiuni {
  cursor: pointer;
}

section:hover .cu-opţiuni,
.cu-opţiuni:hover {
  cursor: pointer;
  outline: 1px solid silver;
}

.cu-opţiuni:hover::before {
  content: '▾';
  position: absolute;
  background-color: silver;
  padding: 0 .2em;
}

ul.opţiuni {
  display: none;
  position: absolute;
  margin: 0 1em 0 0;
  padding: 0;
  background-color: white;
  border: 1px solid silver;
  box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
  list-style-position: inside;
}

ul.opţiuni li {
  padding: .2em 1em;
}

ul.opţiuni li:hover {
  background-color: #ddd;
}

table {
  border-spacing: 0;
  margin: 1em 0;
}

th {
  text-align: left;
  white-space: nowrap;
}

td {
  vertical-align: top;
}

table#borderou-de-calcul {
  margin-bottom: 2em;
}

table#borderou-de-calcul thead th,
table#borderou-de-calcul thead td {
  border-bottom: 1px solid silver;
}

table#borderou-de-calcul th:nth-child(1),
table#borderou-de-calcul td:nth-child(1),
table#borderou-de-calcul th:nth-child(3),
table#borderou-de-calcul td:nth-child(3),
table#borderou-de-calcul th:nth-child(4),
table#borderou-de-calcul td:nth-child(4),
table#borderou-de-calcul th:nth-child(5),
table#borderou-de-calcul td:nth-child(5) {
  text-align: right;
}

table#borderou-de-calcul thead:first-child th {
  font-weight: normal;
}

table#borderou-de-calcul thead th[colspan] {
  padding-top: .5em;
}

table#borderou-de-calcul tbody th,
table#borderou-de-calcul tbody td {
  border-bottom: 1px solid silver;
}

table#borderou-de-calcul tbody tr:last-child th,
table#borderou-de-calcul tbody tr:last-child td {
  border: none;
}

table#borderou-de-calcul td:nth-child(1)[colspan],
table#borderou-de-calcul th:nth-child(1)[colspan] {
  text-align: left;
}

table#borderou-de-calcul tr.total td:last-child {
  font-weight: bold;
}

table#rechizite-bancare td,
table#rechizite-bancare th {
  padding: 0 .5em 0 0;
  font-size: .8em;
}

table#rechizite-bancare th {
  padding-left: 30px;
}

table#rechizite-bancare thead th {
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: normal;
}
