<li>
  <label>Denumire</label>
  <input type="text" ng-model="date['denumire']"/>
</li>

<li>
  <label>IDNO</label>
  <input type="text" ng-model="date['idno']"/>
</li>

<li>
  <label class="textarea">Sediu</label>
  <textarea ng-model="date['sediu']" spellcheck="false" class="lat"></textarea>
</li>

<li>
  <label>Persoană de contact</label>
  <input type="text" ng-model="date['persoană-de-contact']"/>
</li>

<li>
  <label class="textarea">Note</label>
  <textarea ng-model="date['note-pj']" spellcheck="false" class="note lat"></textarea>
</li>
