<? $titlu = 'Încheiere de intentare' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

    <div class="scrisoare-de-însoţire">
      <p class="data-adoptării"><%= moment().format(app.FORMATUL_DATEI) %></p>
      <p class="numărul-procedurii"><%= login %><%= procedură['tip'] %>-<%= app.FormularProcedură.număr() %></p>

      <table id="părţile-vizate">
        <tr>
          <th>Creditor:</th>
          <td><%= nume(procedură.creditor) %> (<%= id(procedură.creditor) %>)</td>
        </tr>

        <tr>
          <th>Debitor:</th>
          <td><%= debitori[i] %></td>
        </tr>
      </table>

      <p>Executorul judecătoresc <%= executor.nume %> vă expediază pentru
      informare încheierea cu privire la <%= titlulÎncheierii %>
      numărul <%= login %><%= procedură['tip'] %>-<%= app.FormularProcedură.număr() %>
      din <%= moment().format(app.FORMATUL_DATEI) %>.</p>

    </div>

    <% if (debitori.length > 0) { %>

      <% for (var i = 0; i < debitori.length; i++) { %>
        <div class="scrisoare-de-însoţire">
          <p class="data-adoptării"><%= moment().format(app.FORMATUL_DATEI) %></p>
          <p class="numărul-procedurii"><%= login %><%= procedură['tip'] %>-<%= app.FormularProcedură.număr() %></p>

          <table id="părţile-vizate">
            <tr>
              <th>Creditor:</th>
              <td><%= nume(procedură.creditor) %> (<%= id(procedură.creditor) %>)</td>
            </tr>

            <tr>
              <th>Debitor:</th>
              <td><%= debitori[i] %></td>
            </tr>
          </table>

          <p>Executorul judecătoresc <%= executor.nume %> vă expediază pentru
          informare şi executare încheierea cu privire la <%= titlulÎncheierii %>
          numărul <%= login %><%= procedură['tip'] %>-<%= app.FormularProcedură.număr() %>
          din <%= moment().format(app.FORMATUL_DATEI) %>.</p>

        </div>
      <% } %>

    <% } else { %>
      <p>Nu aţi introdus debitorul în formularul de procedură.</p>
    <% } %>

<? require 'partea-de-jos.html' ?>
