body {
  font: 18px sans-serif;
  padding: 5px 10px;
  margin: 0;
}

input.label {
  border-width: 0;
  outline-width: 0;
  padding-right: 10px;
  background: url('/images/expanded.png') no-repeat right center;
  cursor: default;
}

input {
  outline-width: 0;
  border: 1px solid #ddd;
  padding: 3px;
}

input:focus {
  border-color: #4d90fe;
}

input,
.ui-autocomplete .ui-menu-item,
.ui-button-text {
  font-size: 18px;
}

input.label,
.ui-autocomplete .ui-menu-item {
  text-align: right;
  color: #444;
}

#search-label {
  width: 200px;
}

button#new-file {
  margin-left: 300px;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 9px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 6px; }

.panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}

.panel button.close-panel {
  position: absolute;
  top: 5px;
  right: 5px;
  border-width: 0;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: #777;
}

fieldset {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  margin-right: 20px;
  padding: 5px 15px;
}

fieldset.collapsed {
  border-left-width: 0;
}

fieldset.collapsed .content {
  display: none;
}

fieldset legend {
  cursor: pointer;
  color: #aaa;
  padding-left: 17px;
  background: url('/images/expanded.png') no-repeat 5px center;
}

fieldset.collapsed legend {
  background-image: url('/images/collapsed.png');
}

input.label.with.options {
  padding-right: 12px;
  background: url('/images/expanded.png') no-repeat right center;
  cursor: default;
}
