<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Anexă încheiere cu privire la calcularea dobînzilor de întîrziere</title>
    <link type="text/css" rel="stylesheet" href="/css/încheiere.css"/>
    <script id="init">
      function init(context) {
        var $întîrziere = context.buton.closest('.subsecţiune.întîrziere'),
            întîrziere = opener.Subsecţiuni.întîrzieri.colectează($întîrziere),
            calcule = opener.DobîndaDeÎntîrziere.calculează(întîrziere);

        context.întîrziere = întîrziere;
        context.detalii = calcule.detalii;
        context.întîrziere.dobînda = calcule.dobînda;

        window.Încheiere.modificat = function() {return true};
      }
    </script>
    <script src="/js/încheiere.js"></script>
  </head>

  <body>
    <script type="text/micro-template">
      <% if (detalii && detalii.suma && detalii.începutPerioadă && detalii.sfîrşitPerioadă) { %>
        <article>

          <hgroup>
            <h1>Anexă</h1>
            <h2>cu privire la calcularea dobînzilor de întîrziere rezultate
            din întîrzierea executării documentului executoriu</h2>
          </hgroup>

          <section>
            <header>Calculul</header>
            <div class="conţinut" spellcheck="false">
              <p>
                dobînzii de întîrziere a sumei de <span class="sumă"><%= detalii.suma %> de lei</span> pentru perioada
                <span class="perioadă"><%= detalii.începutPerioadă %>&ndash;<%= detalii.sfîrşitPerioadă %></span>
                cu rata aplicată de <%= detalii.rata %>%:
              </p>

              <ul class="calcule">
                <li class="antet">
                  <span>Nr.</span>
                  <span>Începînd cu</span>
                  <span>Durata</span>
                  <span>Rata, %</span>
                  <span>Suma, lei</span>
                </li>

                <% var i = 0; %>
                <% for (var rînd in detalii.rînduri) { rînd = detalii.rînduri[rînd]; %>
                <li>
                  <span><%= ++i %></span>
                  <span><%= rînd.data %></span>
                  <span><%= rînd.durata %> zile</span>
                  <span><%= rînd.rata %>+<%= detalii.rata %>=<%= (rînd.rata + detalii.rata).toFixed(1) %></span>
                  <span><%= rînd.dobînda.toFixed(2) %></span>
                </li>
                <% } %>
                <li class="total"><%= întîrziere.dobînda %></li>
              </ul>
            </div>
          </section>

          <section>
            <header>Executor</header>
            <div class="conţinut editabil" spellcheck="false">
              <p><%= executor.nume %>, <%= executor.adresa %></p>
            </div>
          </section>

          <section>
            <div class="conţinut">
              <div id="semnătura">
                <p><%= moment(new Date).format('DD.MM.YYYY') %></p>
                <p>Semnătura _____________</p>
              </div>
              <div id="ştampila">(loc pentru ştampilă)</div>
            </div>
          </section>
        </article>
      <% } else { %>
        <% if (!detalii) { %>
          <p>Trebuie să introduceţi datele.</p>
        <% } else { %>

          <% if (!detalii.începutPerioadă) { %>
            <p>Trebuie să introduceţi <b>începutul perioadei</b>.</p>
          <% } %>

          <% if (!detalii.sfîrşitPerioadă) { %>
            <p>Trebuie să introduceţi <b>sfîrşitul perioadei</b>.</p>
          <% } %>

          <% if (!detalii.suma) { %>
            <p>Trebuie să introduceţi <b>suma</b>.</p>
          <% } %>
        <% } %>

      <% } %>
    </script>
  </body>
</html>
