<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Borderou de calcul</h1>
          <h2>al cheltuielilor de executare</h2>
        </hgroup>

        <section>
          <header>Procedura</header>
          <div class="conţinut" spellcheck="false">
            <p><%= login %><%= procedură['număr'] %> din <%= procedură['data-intentării'] %></p>
          </div>
        </section>

        <section>
          <header>Creditor</header>
          <div class="conţinut" spellcheck="false">
            <p><%= nume(procedură.creditor) %></p>
          </div>
        </section>

        <section>
          <header>Debitor</header>
          <div class="conţinut" spellcheck="false">
            <p><%= debitori %></p>
          </div>
        </section>

        <section>
          <header></header>
          <div class="conţinut">
            <p>emis în corespundere cu Codul de executare al RM şi Regulamentul
            privind modul de determinare a mărimii taxelor pentru efectuarea actelor
            executorului judecătoresc şi a spezelor procedurii de executare aprobat
            prin Hotărîrea Guvenului nr. 886 din 23.09.2010</p>

            <table>
              <thead>
                <tr>
                  <th>Nr.</th>
                  <th>Descriere</th>
                  <th>Calculat</th>
                  <th>Achitat, data</th>
                  <th>Rămas</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th colspan="5">Taxe</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Scurtă descriere</td>
                  <td>1234</td>
                  <td>123</td>
                  <td>123</td>
                </tr>
                <tr>
                  <th colspan="2">Total taxe</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th colspan="5">Speze</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Scurtă descriere</td>
                  <td>123</td>
                  <td>123</td>
                  <td>123</td>
                </tr>
                <tr>
                  <th colspan="2">Total speze</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th colspan="5">Onorariu</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Scurtă descriere</td>
                  <td>123</td>
                  <td>123</td>
                  <td>123</td>
                </tr>
              </tbody>
            </table>

            <h3>Rechizite bancare:</h3>

            <p>(din profil?)</p>
            <table>
              <tr>
                <th>Beneficiar:</th>
                <td>sdlkhflsjhflkjew</td>
              </tr>
              <tr>
                <th>Cod fiscal:</th>
                <td>29378598345793</td>
              </tr>
              <tr>
                <th>Nr cod bancar</th>
                <td>9067459834579834534453</td>
              </tr>
              <tr>
                <th>Banca beneficiară:</th>
                <td>sldjuhishtrewt ret e</td>
              </tr>
              <tr>
                <th>Cod bancă:</th>
                <td>94789345345345</td>
              </tr>
            </table>

            <a href="https://docs.google.com/file/d/0B7oxhpLcMhrDZVo0SE5IbGJLQk0/edit">model google docs</a>
          </div>
        </section>

<? require 'nume-adresă-şi-semnătură.html' ?>
<? require 'partea-de-jos.html' ?>
