<? $titlu = 'Încheiere de dare în căutare a mijlocului de transport' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Încheiere</h1>
          <h2>de dare în căutare a mijlocului de transport</h2>
        </hgroup>

<? require 'procedura.html' ?>
<? require 'părţile.html' ?>

        <section>
          <header>Chestiunea</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>În procedura de executare se află documentului executoriu
            <%= procedură['document-executoriu']['numărul-de'] %> din
            <%= procedură['document-executoriu']['data-hotărîrii'] %> emis de
            judecătoria <%= procedură['document-executoriu']['instanţa-de-judecată'] %>
            prin care s-a dispus încasarea în beneficiul CREDITORULUI de la
            <%= text('DEBITOR sau DEBITORI', procedură.debitori) %> a datoriei în mărime
            totală de <span class="sumă"><%= totalDatorie %></span> MDL formată din:</p>

            <ol>
            <% for (var descriere in procedură['obiectul-urmăririi']['sume']) {
                var sumă = procedură['obiectul-urmăririi']['sume'][descriere]; %>
              <li><%= descriere %> — <%= sumă.suma %> <%= sumă.valuta %></li>
            <% } %>
            </ol>

            <p>În termenul acordat prin lege,
            <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %> nu a executat
            benevol documentul executoriu, impunîndu-se urmărirea bunurilor
            <%= text('DEBITORULUI sau DEBITORILOR', procedură.debitori) %> care constă
            în sechestrarea, ridicarea şi vînzarea lor.</p>
          </div>
        </section>

        <section>
          <header>Motivele</header>
          <div class="conţinut editabil" spellcheck="false">

            <p>În procesul executării s-a stabilit că DEBITORUL deţine cu drept de
            proprietate mijlocul de transport <%= mijloculDeTranspport %>.</p>

            <p>În baza celor expuse şi în conformitate cu art. 22 (1) lit.w), 66, 72 (5)
            al Codului de executare RM, dispun:</p>
          </div>
        </section>

        <section>
          <header>Dispoziţia</header>
          <div class="conţinut editabil" spellcheck="false">
            <ol>
              <li>
                <p>A anunţa în căutare mijlocul de transport <%= mijloculDeTranspport %></p>
              </li>

              <li>
                <p>A pune în sarcina organelor afacerilor interne şi a Poliţiei de Frontieră
                de a reţine mijlocul de transport care corespunde caracteristicilor menţionate
                în p. 1 şi dacă este cazul să înlăture posesorul de la conducerea acestuia,
                pînă la predarea lui către executorul judecătoresc.</p>
              </li>

              <li>
                <p>În caz de reţinere, a contacta imediat executorul judecătoresc
                <%= executor.nume %> la tel: <%= executor.telefon %></p>
              </li>

            </ol>

<? require 'despre-contestare.html' ?>

          </div>
        </section>

<? require 'nume-adresă-şi-semnătură.html' ?>
<? require 'partea-de-jos.html' ?>
