<? $titlu = 'Anexă încheiere dobîndă de întîrziere' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

      <% if (detalii && detalii.suma && detalii.începutPerioadă && detalii.sfîrşitPerioadă) { %>
          <hgroup>
            <h1>Anexă</h1>
            <h2>cu privire la calcularea dobînzilor de întîrziere rezultate
            din întîrzierea executării documentului executoriu</h2>
          </hgroup>

          <section>
            <header>Calculul</header>
            <div class="conţinut">
              <p>
                dobînzii de întîrziere a sumei de <span class="sumă"><%= detalii.suma %> de lei</span> pentru perioada
                <span class="perioadă"><%= detalii.începutPerioadă %>&ndash;<%= detalii.sfîrşitPerioadă %></span>
                cu rata aplicată de <%= detalii.rata %>%:
              </p>

              <ul class="calcule">
                <li class="antet">
                  <span>Nr.</span>
                  <span>Începînd cu</span>
                  <span>Durata</span>
                  <span>Rata, %</span>
                  <span>Suma, lei</span>
                </li>

                <% var i = 0; %>
                <% for (var rînd in detalii.rînduri) { rînd = detalii.rînduri[rînd]; %>
                <li>
                  <span><%= ++i %></span>
                  <span><%= rînd.data %></span>
                  <span><%= rînd.durata %> zile</span>
                  <span><%= rînd.rata %>+<%= detalii.rata %>=<%= (rînd.rata + detalii.rata).toFixed(1) %></span>
                  <span><%= rînd.dobînda.toFixed(2) %></span>
                </li>
                <% } %>
                <li class="total"><%= întîrziere.dobînda %></li>
              </ul>
            </div>
          </section>

          <section>
            <header>Executor</header>
            <div class="conţinut editabil" spellcheck="false">
              <p><%= executor.nume %>, <%= executor.adresa %></p>
            </div>
          </section>

          <section>
            <div class="conţinut">
              <div id="semnătura">
                <p><%= moment().format(app.FORMATUL_DATEI) %></p>
                <p>Semnătura _____________</p>
              </div>
              <div id="ştampila">(loc pentru ştampilă)</div>
            </div>
          </section>
      <% } else { %>
        <% if (!detalii) { %>
          <p>Trebuie să introduceţi datele.</p>
        <% } else { %>

          <% if (!detalii.începutPerioadă) { %>
            <p>Trebuie să introduceţi <b>începutul perioadei</b>.</p>
          <% } %>

          <% if (!detalii.sfîrşitPerioadă) { %>
            <p>Trebuie să introduceţi <b>sfîrşitul perioadei</b>.</p>
          <% } %>

          <% if (!detalii.suma) { %>
            <p>Trebuie să introduceţi <b>suma</b>.</p>
          <% } %>
        <% } %>

      <% } %>

<? require 'partea-de-jos.html' ?>
