<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Penalitate de întîrziere</title>
    <link type="text/css" rel="stylesheet" href="/css/raport.css"/>
    <script src="/js/raport.js"></script>
  </head>

  <body>
    <script type="text/micro-template">
      <h1>Penalitate de întîrziere</h1>

      <p>
        Calculul penalităţii de întîrziere cu dobînda de <%= raport.rata %>% peste
        rata BNM pentru suma de <%= raport.suma %>&nbsp;de&nbsp;lei pe perioada
        <%= raport.începutPerioadă %>&ndash;<%= raport.sfîrşitPerioadă %>:
      </p>

      <table>
        <thead>
          <tr>
            <th>Nr.</th>
            <th>Începînd cu</th>
            <th>Durata</th>
            <th>Rata, %</th>
            <th>Suma, lei</th>
          </tr>
        </thead>
        <tbody>
          <% var i = 0; %>
          <% for (var rînd in raport.rînduri) { rînd = raport.rînduri[rînd]; %>
          <tr>
            <td><%= ++i %></td>
            <td><%= rînd.data %></td>
            <td><%= rînd.durata %> zile</td>
            <td><%= rînd.rata %>+<%= raport.rata %>=<%= (rînd.rata + raport.rata).toFixed(1) %></td>
            <td><%= rînd.dobînda.toFixed(2) %></td>
          </tr>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"><%= total %></td>
          </tr>
        </tfoot>
      </table>
    </script>
  </body>
</head>
