<? $titlu = 'Încheiere de numire a datei nimicirii bunurilor' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Încheiere</h1>
          <h2>de numire a datei nimicirii bunurilor</h2>
        </hgroup>

<? require 'procedura.html' ?>
<? require 'părţile.html' ?>

        <section>
          <header>Chestiunea</header>
          <div class="conţinut" spellcheck="false">
            <p>Examinînd chestiunea cu privire la numirea datei nimicirii bunurilor</p>
          </div>
        </section>

        <section>
          <header>Motivele</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>
<? require 'început-secţiune-motive.html' ?>
            nimicirea a următoarelor bunuri:</p>

            <ol>
            <% for (var i = 0; i < bunuri.length; i++) { var bun = bunuri[i]; %>
              <li><%= bun.descrierea %> — <%= bun.suma %> <%= bun.valuta %></li>
            <% } %>
            </ol>

            <p>ce aparţin <%= text('DEBITORULUI sau DEBITORILOR', procedură.debitori) %>.</p>

            <p>În termenul acordat, <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %>
            nu <%= text('a sau au', procedură.debitori) %> executat benevol documentul executoriu.</p>

            <% if (amînată) { %>
              <p>Nimicirea în cadrul acestei proceduri a fost amînată pînă la <%= ultimaAmînare %> din cauza
              <span class="atenţionare">INTRODUCEŢI CAUZA AMÎNĂRII</span>.</p>
            <% } %>

            <p>În baza celor expuse şi în conformitate cu art. 8, 10, 11, 22, 66 al Codului de executare RM, dispun</p>
          </div>
        </section>

        <section>
          <header>Dispoziţia</header>
          <div class="conţinut editabil" spellcheck="false">
            <ol>
              <li>
                <p>Se numeşte nimicirea bunurilor sus menţionate la

                <% if (amînată) { %>
                  <%= ultimaAmînare %>
                <% } else { %>
                  <%= procedură['obiectul-urmăririi']['data-şi-ora-nimicirii'] %>
                <% } %>
                </p>
              </li>

              <li>
                <p>Se înştiinţează <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %> că
                neprezentarea <%= text('lui sau lor', procedură.debitori) %> nu va împiedica executarea
                documentului executoriu. Dacă <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %>
                nu <%= text('va sau vor', procedură.debitori) %> fi prezent, ori nu
                <%= text('va sau vor', procedură.debitori) %> permite pătrunderea în încăpere,
                executorul judecătoresc va efectua pătrunderea forţată în aceasta.</p>
              </li>

              <li>
                <p>A anunţa organele de poliţie să delege un colaborator al său care să
                asigure ordinea publică în cadrul procesului de nimicire a bunurilor.</p>
              </li>

              <li>
                <p>A anunţa inspectoratul fiscal de stat teritorial, inspectoratul
                ecologic de stat şi autorităţile administraţiei publice locale să
                asigure prezenţa unui reprezentant al său pentru a asista la actul
                de nimicire.</p>
              </li>
            </ol>

<? require 'despre-contestare.html' ?>
          </div>
        </section>

<? require 'nume-adresă-şi-semnătură.html' ?>
<? require 'partea-de-jos.html' ?>
