<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Încheiere</h1>
          <h2>cu privire la intentarea procedurii de executare</h2>
        </hgroup>

        <section>
          <header>Procedura</header>
          <div class="conţinut" spellcheck="false">
            <p><%= login %><%= procedură['număr'] %> din <%= procedură['data-intentării'] %></p>
          </div>
        </section>

        <ul class="opţiuni mod-iniţiere">
          <li>cererea creditorului urmăritor <%= nume(procedură.creditor) %> cu privire la
            intentarea procedurii de executare în baza documentului executoriu</li>
          <li>din oficiu documentul executoriu</li>
        </ul>

        <section>
          <header>Chestiunea</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>Examinînd <span class="cu-opţiuni" data-opţiuni="mod-iniţiere">cererea creditorului urmăritor
            <%= nume(procedură.creditor) %> cu privire la intentarea procedurii de executare în baza
            documentului executoriu</span> <%= procedură['document-executoriu']['numărul-de'] %> din
            <%= procedură['document-executoriu']['data-hotărîrii'] %> emis de
            judecătoria <%= procedură['document-executoriu']['instanţa-de-judecată'] %>
            prin care s-a dispus încasarea în beneficiul <%= nume(procedură.creditor) %>
            (<%= id(procedură.creditor) %>) de la <%= debitori %> a datoriei în
            mărime totală de <span class="sumă"><%= totalDatorie %></span> MDL formată din:</p>

            <ol>
            <% for (var descriere in procedură['obiectul-urmăririi']['sume']) {
                var sumă = procedură['obiectul-urmăririi']['sume'][descriere]; %>
              <li><%= descriere %> — <%= sumă.suma %> <%= sumă.valuta %></li>
            <% } %>
            </ol>

            <p>am stabilit:</p>
          </div>
        </section>

        <section>
          <header>Motivele</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>Documentul executoriu a fost înaintat spre executare în termen de persoana
            împuternicită conform legii, respectîndu-se competenţa teritorială şi cuprinsul
            acestuia corespunde cerinţelor legislaţiei în vigoare. Acesta nu are termen de
            executare benevolă stabilit prin lege, şi nici nu este stabilit în documentul
            executoriu.</p>

            <p>În conformitate cu art. 10, 11, 14-16, 22, 60, 62, 66 al Codului de executare
            RM, dispun:</p>
          </div>
        </section>

        <section>
          <header>Dispoziţia</header>
          <div class="conţinut editabil" spellcheck="false">
            <ol>
              <li>a primi spre executare documentul executoriu numărul
              <%= procedură['document-executoriu']['numărul-de'] %> din
              <%= procedură['document-executoriu']['data-hotărîrii'] %> emis de
              judecătoria <%= procedură['document-executoriu']['instanţa-de-judecată'] %></li>

              <li>a intenta procedura de executare <%= login %>
              <%= procedură['număr'] %> din <%= procedură['data-intentării'] %></li>

              <% if (conciliere) { %>
              <li>a stabili concilierea părţilor la data de <%= conciliere.data %> ora
              <%= conciliere.ora %></li>
              <% } %>

              <li>a propune <%= debitori %> de a executa benevol documentul
              executoriu în termen de 15 zile</li>
              <li>a expedia prezenta încheiere părţilor pentru informare</li>
            </ol>

            <p>Încheierea este executorie din momentul emiterii şi poate fi contestată doar de
            debitor în temeiul prevăzut de art. 61 lit. a) şi e) al Codului de executare RM.</p>
          </div>
        </section>

<? require 'nume-adresă-şi-semnătură.html' ?>
<? require 'partea-de-jos.html' ?>
