<? $titlu = 'Încheiere de evacuare' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Încheiere</h1>
          <h2>de numire a datei evacuării forţate</h2>
        </hgroup>

<? require 'procedura.html' ?>
<? require 'părţile.html' ?>

        <section>
          <header>Chestiunea</header>
          <div class="conţinut" spellcheck="false">
            <p>examinînd cererea CREDITORULUI cu privire la stabilirea datei evacuării forţate,</p>
            <p>am stabilit</p>
          </div>
        </section>

        <section>
          <header>Motivele</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>La data de <%= procedură['data-intentării'] %> a fost intentată procedura de executare
            a documentului executoriu <%= procedură['document-executoriu']['numărul-de'] %> din
            <%= procedură['document-executoriu']['data-hotărîrii'] %> emis de judecătoria
            <%= procedură['document-executoriu']['instanţa-de-judecată'] %> prin care s-a dispus
            evacuarea <%= text('DEBITORULUI sau DEBITORILOR', procedură.debitori) %> din încăperea
            de la adresa:</p>
            <address><%= procedură['obiectul-urmăririi']['din-încăperea'] %></address>

            <% if (amînată) { %>
              <p>Evacuarea în cadrul acestei proceduri a fost amînată pînă la <%= ultimaAmînare %> din cauza
              <span class="atenţionare">INTRODUCEŢI CAUZA AMÎNĂRII</span>.</p>
            <% } %>

            <p>În baza celor expuse şi în conformitate cu art. 8, 10, 11, 14-16, 22, 66, 147, 149
            al Codului de executare RM, </p>
          </div>
        </section>

        <section>
          <header>Dispoziţia</header>
          <div class="conţinut" spellcheck="false">
            <ol>
              <li>
                <p>A propune DEBITORULUI de a executa benevol documentul executoriu
                în termen de 15 zile prin eliberarea încăperilor de la adresa:</p>
                <address><%= procedură['obiectul-urmăririi']['din-încăperea'] %></address>
              </li>

              <li>
                <p>În cazul în care pînă la expirarea termenului fixat,
                <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %> nu
                <%= text('va sau vor', procedură.debitori) %> executa benevol documentul executoriu,
                se numeşte evacuarea silită la

                <% if (amînată) { %>
                  <%= ultimaAmînare %>.
                <% } else { %>
                  <%= procedură['obiectul-urmăririi']['data-şi-ora-evacuării'] %>.
                <% } %>

                </p>
              </li>

              <li>
                <p>Se înştiinţează <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %> că neprezentarea
                <%= text('lui sau lor', procedură.debitori) %> nu va împiedica executarea documentului executoriu.</p>
              </li>

              <li>
                <p>Se obligă <%= text('DEBITORUL sau DEBITORII', procedură.debitori) %>
                să comunice locul unde pot fi strămutate bunurile.</p>
              </li>

              <li>
                <p>A anunţa organele de poliţie să delege un colaborator al organelor de
                poliţie care să asigure ordinea publică în cadrul procesului de evacuare.</p>
              </li>

              <li>
                <p>Dacă persoanele ce urmează a fi evacuate se vor ascunde ori nu vor permite
                executorului judecătoresc să intre în încăperea pe care o ocupă, sau vor comite
                alte acte ce vor împiedica executarea documentului executoriu, evacuarea
                se va face prin pătrundere forţată în încăpere.</p>
              </li>

              <li>
                <p>Se propune creditorului că asigure la data evacuării 2 martori asistenţi,
                hamali, transport, specialişti în deschidere forţată a încăperilor, sau să
                avanseze aceste cheltuieli executorului pentru a le contracta personal.</p>
              </li>
            </ol>

<? require 'despre-contestare.html' ?>
          </div>
        </section>

<? require 'nume-adresă-şi-semnătură.html' ?>
<? require 'partea-de-jos.html' ?>
