<? $titlu = 'Încheiere de intentare a procedurii de executare privind aplicarea măsurilor de asigurare a acţiunii' ?>
<? $dir = dirname(__FILE__); set_include_path("$dir:$dir/../părţi-comune") ?>
<? require 'partea-de-sus.html' ?>

        <hgroup>
          <h1>Încheiere</h1>
          <h2>de intentare a procedurii de executare privind aplicarea măsurilor de asigurare a acţiunii</h2>
        </hgroup>

<? require 'procedura.html' ?>
<? require 'părţile.html' ?>

        <section>
          <header>Chestiunea</header>
          <div class="conţinut" spellcheck="false">
            <p>Examinînd cererea CREDITORULUI cu privire la intentarea procedurii de executare
            privind aplicarea măsurilor de asigurare prin aplicarea sechestrului

            <% if (introdusValoareaAcţiunii) { %>
              pe bunurile mobile şi imobile în limita sumei de <%= valoareaAcţiunii.suma %> <%= valoareaAcţiunii.valuta %>.
            <% } else { %>
              pe următoarele bunuri:
            <% } %>

            </p>

            <% if (introdusBunuri) { %>
            <ol>
              <% for (var denumire in bunuri) { %>
              <li><%= denumire %> — <%= bunuri[denumire].suma %> <%= bunuri[denumire].valuta %></li>
              <% } %>
            </ol>
            <% } %>
          </div>
        </section>

        <section>
          <header>Motivele</header>
          <div class="conţinut editabil" spellcheck="false">
            <p>
<? require 'început-secţiune-motive.html' ?>

