          <section>
            <header>Executorul</header>
            <div class="conţinut editabil" spellcheck="false">
              <p><%= executor.nume %>, <%= executor.adresă %></p>
            </div>
          </section>

          <section>
            <div class="conţinut">
              <div id="semnătura">
                <p><%= moment().format(app.FORMATUL_DATEI) %></p>
                <p>Semnătura _____________</p>
              </div>
              <div id="ştampila">(loc pentru ştampilă)</div>
            </div>
          </section>
