<section>
  <header>Creditorul</header>
  <div class="conţinut">
    <%= nume(procedură.creditor) %> (<%= id(procedură.creditor) %>)
  </div>
</section>

<section>
  <header><%= text('Debitorul sau Debitorii', procedură.debitori) %></header>
  <div class="conţinut">
    <% if (debitori.length > 1) { %>
      <ul>
      <% for (var i = 0; i < debitori.length; i++) { %>
        <li><%= debitori[i] %></li>
      <% } %>
      </ul>
    <% } else { %>
      <%= debitori %>
    <% } %>
  </div>
</section>
